<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@ViewData["Title"] - AlloK8</title>
    </head>
    <body>
        <div class="container-scroller">
            <div class="container-fluid page-body-wrapper full-page-wrapper">
                @RenderBody()
            </div>
        </div>
    </body>
</html>