@page
@model AlloK8.PL.Views.Home._InfoCard

<div class="col-md-12 stretch-card grid-margin grid-margin-md-0">
    <div class="card data-icon-card-primary">
        <div class="card-body">
            <p class="card-title text-white">Number of Meetings</p>
            <div class="row">
                <div class="col-8 text-white">
                    <h3>34040</h3>
                    <p class="text-white font-weight-500 mb-0">The total number of sessions within the date range.It is
                        calculated as the sum . </p>
                </div>
                <div class="col-4 background-icon">
                </div>
            </div>
        </div>
    </div>
</div>