@model List<ProjectVM>

@{
    Layout = "_Layout";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h2 class="font-weight-bold">@T.YourProjectsTitleText</h2>
                </div>
                <button type="button" class="btn btn-primary mr-3 mb-1">
                    <a class="text-decoration-none text-white" href="/new-project">
                        <i class="icon-circle-plus menu-icon"></i>
                        <span class="menu-title">@T.CreateNewProjectNavButtonText</span>
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var project in Model)
        {
            <div class="col-md-6 mb-4 stretch-card transparent">
                <a href="/projects/@project.Id/kanban" class="w-100 text-decoration-none">
                    <div class="card card-dark-blue">
                        <div class="card-body">
                            <p class="fs-30 mb-2">@project.Name</p>
                            <p>@project.Description</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>