@model List<ProjectVM>

@{
    Layout = "_Layout";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-md-12 grid-margin">
            <div class="row">
                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">@T.YourProjectsTitleText</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var project in Model)
        {
            <div class="col-md-6 mb-4 stretch-card transparent">
                <div class="card card-dark-blue">
                    <div class="card-body">
                        <p class="fs-30 mb-2">@project.Name</p>
                        <p>@project.Description</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>