<!DOCTYPE html>
<html lang="en">
    <head>
        
    </head>
    <body>
    <div class="container-scroller">
        @await Html.PartialAsync("_Navbar")

        @await Html.PartialAsync("_LogoutModal")

        <div class="container-fluid page-body-wrapper">
            @await Html.PartialAsync("_Sidebar")

            <div class="main-panel">
                @RenderBody()
                    
                @await Html.PartialAsync("_Footer")
            </div>
        </div>
    </div>
    </body>
</html>