<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">@T.HomeNavButtonText</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/projects">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">@T.ProjectsNavButtonText</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/new-project">
        <i class="icon-circle-plus menu-icon"></i>
        <span class="menu-title">@T.CreateNewProjectNavButtonText</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/calendar">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">@T.CalendarNavButtonText</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/kanban">
        <i class="icon-circle-plus menu-icon"></i>
        <span class="menu-title">Kanban</span>
      </a>
    </li>
  </ul>
</nav>