{
  "ConnectionStrings": {
    "DefaultConnection": ""
  },
  "Emails": {
    "SendGrid": {
      "Enabled": false,
      "ApiKey": "{{api_key}}",
      "Email": "{{email}}",
      "Name": "{{name}}"
    }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
