{
  "ConnectionStrings": {
    "DefaultConnection": "{{connection_string}}"
  },
  "SendGrid": {
    "ApiKey": "{{api_key}}",
    "Email": "{{email}}",
    "Name": "{{name}}"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}